.footer {
  background-color: #1e1e1e;
  color: #f2f2f2;

  font-family: "Playfair Display", serif;
  border-top: 2px solid #f9d342;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 10px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  min-width: 250px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 22px;
  text-transform: uppercase;
  color: #f9d342;
  border-bottom: 2px solid #f9d342;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.footer-section ul li a {
  color: #f2f2f2;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #f9d342;
}

.footer-section .social-icons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.social-icon {
  font-size: 24px;
  color: #f2f2f2;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  color: #f9d342;
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  background-color: #141414;
  border-top: 1px solid #333;
  margin-top: 30px;
}

.footer-bottom p {
  margin: 0;
  font-size: 16px;
  color: #bbb;
}
