.category-page {
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 5%;
  margin-top: 10% !important;
  width: 90%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-item-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 220px; /* Fixed width for all cards */
  height: 400px;
  text-decoration: none;
  display: inline-block;
}

.category-item-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-item-image {
  width: 100%; /* Full width of the card */
  height: 150px; /* Fixed height */
  border-radius: 8px;
  transition: transform 0.3s ease;
  object-fit: cover; /* Ensures the image fully covers the container while maintaining aspect ratio */
}

.category-page h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #ffffff;
  font-family: "Playfair Display", serif;
}

.category-items-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.price {
  color: #d4af37;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.buy-now-button {
  background-color: #d4af37;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
}

.buy-now-button:hover {
  background-color: #b88900;
  transform: translateY(-2px);
}
